/* header */
.menuBar {
  margin: 0.8rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(129, 128, 128, 0.2);
}

.menuBar a {
  text-decoration: none !important;
}

.menuBar .p-menuitem-link {
  margin-right: 1rem;
  margin-left: -1rem;
}

/* Centrar y mover hacia abajo SOLO los links del menú */
.menuBar .p-menubar-root-list {
  justify-content: center !important;
  margin-top: 0.4rem; /* Ajusta este valor para mover más o menos hacia abajo */
}

/* SUGO_MAIN */

.texto_sugo {
  color: rgba(121, 121, 119, 0.144) !important;
  font-size: 6rem !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* tabpanel */

.p-tabview-nav .p-tabview-nav-link {
  /* color: green !important; */
  text-decoration: none !important;
}

/* card-formulario */
.card-formulario {
  /* Estilos específicos para la tarjeta del formulario de despacho */
  width: 800px;
  max-height: 500px;
  text-align: center;
  background-color: rgba(170, 173, 168, 0.466);
  border-radius: 1rem;
}

h1 {
  font-size: 1.2rem;
}

.titulo {
  color: #928f8f;
  height: 3rem;
  padding-top: 0.5rem;
  margin-right: 1.7rem;
  margin-left: 1.7rem;
}
.card {
  background-color: rgba(245, 245, 245, 0.466);
  width: 800px;
  min-height: 200px;
  text-align: center;
}

Button {
  border-radius: 0.7rem !important;
}

.select {
  width: 180px;
  height: 35px;
  font-size: 1rem;
  border-radius: 8px;
}

/* linea punteada */

.linea_punteada {
  border-top: 4px dashed #0fe921;
  border-top: 4px dashed #04580b;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* card */

.card_general {
  display: block;
  margin-left: 0;
  margin-top: 0;
}

/* Contenedor flex para Card_Eco y formulario */
.despacho-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
  width: 100vw;
  max-width: 1200px;
  margin-left: 10rem;
  margin-right: auto;
}

.card {
  margin-bottom: 8px; /* o el valor que prefieras */
}

.card_eco {
  width: 300px;
  height: 283px;
  background-color: rgba(3, 16, 56, 0.945);
  border-radius: 0.6rem;
  padding: 10px;
  padding-left: 10px;
  border-top: 6px solid #00c853; /* línea verde arriba */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card_eco {
  margin-top: 0px;
  margin-bottom: 0px;
}

.disponible {
  color: #00c853;
  font-size: 1.3rem;
  font-weight: bold;
  /* background-color: transparent; */
}
.ecocnomico {
  font-size: 1.3rem;
  font-weight: bold;
  /* background-color: transparent; */
}

.eco_numero {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: -7px;
}

.modadalidad_options {
  color: white;
  font-size: 0.8rem !important;
  gap: 6px;
}

.separacion {
  margin-top: -0.5rem;
  color: white;
}

.pi-map-marker {
  color: #00c853;
  margin-right: 0.5rem;
  margin-left: 2px;
}
.pi-clock {
  color: #dd10aa;
  margin-right: 0.5rem;
  margin-left: 6px;
}

.estado {
  margin-top: -10px;
  margin-bottom: -10px;

  font-weight: bold;
  font-size: 0.95rem;
}
.modulo {
  font-size: 0.8rem !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 2px !important;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6) !important;
}
.card {
  margin-bottom: 8px;
}

/* pv estados  */

.title_pv {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: rgb(87, 86, 86);
}
