.card_eco {
    width: 350px;
    background-color: var(--dark-blue);
    border-radius: 0.6rem;
    padding: 15px;
    border-top: 6px solid var(--primary-green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    align-self: flex-start;
    position: absolute;
    left: -155px;
    top: 0;
    animation: slideOutLeft 0.5s ease-out forwards;
    z-index: 1;
}

@media (max-width: 768px) {
    .card_eco {
        position: static;
        width: 100%;
        min-width: unset;
        left: 0 !important;
        animation: slideInUp 0.5s ease-out forwards;
    }
}

/* Animación para Escritorio*/
@keyframes slideOutLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación para Móvil*/
@keyframes slideInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}