.tittle {
  color: #7b7b7c !important;
}

.check {
  margin-top: -20px !important;
}

/* En rol.css */
.my-custom-header a {
  text-decoration: none !important;
  color: #535151 !important;
}

.my-custom-header a:hover {
  text-decoration: none !important;
  color: #0b2c8a !important;
}
